<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online-Kursverwaltung</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="my-4">
        <h1>WG-Kassenbuch</h1>
    </div>

    <p class="small">
        <a href="/weekplan/showWeekplan">Wochenplan</a>
    </p>

    <p class="small">
        <a href="/weekplan/showCourses">Kurse</a>
    </p>
    <p class="small">
        <a href="/weekplan/showTrainer">Trainer</a>
    </p>

</div>
</body>
</html>