<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online-Kursverwaltung</title>
  <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div>
  <hr/>
  <h2>Trainer auswählen</h2>
  <form th:action="${'/weekplan/selectTrainer'}" method="post" class="form-inline">
    <select class="form-control mr-2" multiple="disabled" name="trainer">
      <option disabled="disabled">Trainer</option>
      <option th:each="trainer : ${trainers}" th:text="${trainer.name}" th:value="${trainer.id}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Eintragen</button>
  </form>
</div>
</body>
</html>