<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online-Kursverwaltung</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="mt-4 mb-4">
        <div th:replace="layout/menu :: menu"></div>
        <h1>Meine Termine</h1>
    </div>

    <table th:if="${weekplan != null}" class="table">
        <tr>
            <th>Kurs</th>
            <th>Tag</th>
            <th>Uhrzeit</th>
            <th>Raum</th>
            <th>Trainer</th>
        </tr>
        <tr th:each="appointment : ${weekplan}">
            <td th:text="${appointment.course.name}"></td>
            <td th:text="${appointment.dayOfWeek.name}"></td>
            <td th:text="${appointment.localTime}"></td>
            <td th:text="${appointment.room.roomName}"></td>
            <td th:text="${appointment.trainer.name}"></td>
            <td th:if="${!appointment.checkIfTrainerDataIsValid()}">Dieser Termin muss bearbeitet werden, da der Trainer seine Daten geändert hat</td>
        </tr>

    </table>

    <div>
        <p class="small">
            <a th:href="${'/user/editTrainer/' + trainer.id}">Daten bearbeiten</a>
        </p>
    </div>
    <hr/>
    <p class="small">
        <a href="/weekplan/">Startseite</a>
    </p>
</div>
</body>
</html>